---
layout: feature
title: Subgroups
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Subgroups
        %h3#ci-subt Manage large projects easily with subgroups
        %a.btn.btn-lg.btn-white{ href: "https://docs.gitlab.com/ee/user/group/subgroups/index.html#subgroups" } Documentation
  .sub-wrapper
    .container